<html>
    <body>
        <h3>Choose The Page:</h3>
        <p><a href="http://localhost:8080/message">Messages</a></p>
        <p><a href="http://localhost:8080/employee">Employees</a></p>
    </body>
</html>
